extends base

block content 
    form(method="POST")
        input(type="password",required, name="oldPassword", placeholder="이전 비밀번호")
        input(type="password",required, name="newPassword", placeholder="새 비밀번호")
        input(type="password",required, name="newPassword2", placeholder="새 비밀번호 확인")
        input(type="submit", value="비밀번호 변경")