extends base

block content 
    form(method="POST")
        input(type="password",required, name="oldPassword", placeholder="Old Password")
        input(type="password",required, name="newPassword", placeholder="New Password")
        input(type="password",required, name="newPassword2", placeholder="New Password Confirm")
        input(type="submit", value="Change Password")