extends base.pug

block content
    h4 업로드한 영상 편집
    form(method="POST")
        input(name="title", placeholder="제목", required, value=video.title, maxlength=80)
        input(name="descrition", placeholder="설명", required, value=video.description, minlength=20)
        input(name="hashtags", placeholder="해시태그", required, value=video.hashtags.join())
        input(value="Save", type="업데이트")