extends base.pug

block content
    h4 Update video
    form(method="POST")
        input(name="title", placeholder="Video Title", required, value=video.title, maxlength=80)
        input(name="descrition", placeholder="Description", required, value=video.description, minlength=20)
        input(name="hashtags", placeholder="Hashtags", required, value=video.hashtags.join())
        input(value="Save", type="submit")