extends base.pug
include mixins/video

block content
    form(method="GET").search__form
        input(name="keyword", placeholder="검색어를 입력해주세요.", type="text")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 결과를 찾지 못했습니다.